body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
}

.controls {

  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;

  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.form-row {
  display: flex;

  flex: 1 1 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-primary {
  background-color: #4caf50;
}

.btn-secondary {
  background-color: orangered;
}

.btn:hover {
  opacity: 0.9;
}

.inputField, #playerSelection {
  padding: 8px 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.inputField:focus, #playerSelection:focus {
  outline: none;
  border-color: #4CAF50;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Optionally set a height to ensure vertical centering */
}

#messages {
  display: none;
  color: red;
}

#showAfterCreated {
  display: none;
  margin-top: 15px;
  text-align: center;
}

.dotabuff-icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
  font-size: 16px;
  vertical-align: middle;
  margin: 0 5px;
}


#profileBtnContainer {
  margin-top: 10px;
}
#instructions{
  clear: both;
  margin-top: 10px;
}
@media screen and (max-width: 600px) {
  .controls {
    width: 90%;
    margin: auto;
    flex-direction: column;
    text-align: center;
  }

  .inputField, #playerSelection {
    width: 90%; /* Make input fields wider */
  }

  #gameType {
    width: auto; /* Reset width for select dropdown */
  }

  .form-row {
    flex: 1 1 100%;
  }
}




